<div class="container">    
    <form method="post" action="/users/register" class="form-signin">
     <h2>Register yourself</h2>
      
        <label>Username:</label>
        <input type="text" name="username">
     
        <label>Password:</label>
        <input type="password" name="password">
     
        <label>E-mail:</label>
        <input type="text" name="email">
        
        <input type="hidden" name="isNew" value="<%- isNew %>" />
      <p>
        <button class="btn btn-medium btn-primary" type="submit">Register</button>
      </p>
      <p>
        It seems that you're the first user to come here. Create your account.
      </p>
      
    </form>
    
</div>

