<div class="row">
            <div class="span3">
                <span class="data-toggle title">Podešavanja</span>
                <hr/>
                 
                
            </div>
            
            <div class="span9">
                <div class="well">
                    <h5>Status</h5>
                    <div class="data-status-renderer">
                        <!-- statusi baza ovde -->  
                    </div>
                    <hr />
                    <div class="data-service-info-renderer">
                        <!-- statusi servisa ovde --> 
                    </div>
                </div>
                
                
                    
            </div>
        </div>


